<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<!--/* Title of this template will be passed to the head fragment along with custom links and scripts */-->
<head th:replace="event/layout :: head(~{this :: title}, ~{this :: .custom-link}, ~{this :: .custom-script})">
    <title>Evento Detalhes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>

    <!-- Custom links for this page only -->
    <link class="custom-link" href="../../../resources/css/event/event.css" th:href="@{/resources/css/event/event.css}" />

    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>

    <!-- Custom scripts for this page only -->
    <script class="custom-script" src="../../../resources/js/event/event.js" th:src="@{/resources/js/event/event.js}"></script>

</head>
<body>

<!--/* The element with breadcrumb class will be passed to the header fragment */-->
<header th:insert="event/layout :: header(~{ :: .breadcrumb})">
    <ol class="breadcrumb container">
        <li><a href="#">Home</a></li>
        <li><a href="#" th:href="@{/event}">Eventos</a></li>
        <li th:text="${'Event ' + event.id}">Evento</li>
    </ol>
</header>

<!--/* Insert content fragment with content of the element with id = 'post-details' */-->
<div th:insert="event/layout :: content(~{ :: #event-details})">
    <div id="post-details">
        <h2 th:text="${event.title}">Eventos Detalhes</h2>
        <div th:text="${event.text}">Text</div>
    </div>
</div>

</body>
</html>